/* Stylesheet. Aside from categorization, 
selectors appear in the same order as
they do in index.html */


/* Css variables */

:root {
    --header-padding: 17px 14px;
    --button-padding: 6px 12px;
    --header-footer-container-width: 920px;
    --header-color: #B4D0E7;
}

/* Tag level selectors */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

h1 {
    font-size: 64px;
    padding-top: 70px;
    padding-bottom: 40px;
}

/* Property classes, apply to many elements */

.flexbox {
    display: flex;
}

.centered {
    margin: auto;
}

/* Element classes, specific to element types */

.nav-container {
    align-items: center;
}

.button {
    border-style: none;
    padding: var(--button-padding);
}

.button-blue {
    color: #FFFFFF;
    background-color: #1B61FF;
}

.header-footer-container {
    max-width: var(--header-footer-container-width);
}

/* Id's */

#logo {
    height: 20px;
}

#jumbo-img {
    height: 360px;
}

/* Advanced selectors */

header > nav {
    justify-content: space-between;
}

.nav-container > a, .nav-container > div {
    padding: var(--header-padding);
    text-decoration: none;
    color: #000000;
}

header > section {
    background-color: var(--header-color);
}

/* Nav done. Had my fair share of problems
crafting the button. Used container + padding
to contaier + "button" class */
