/* Stylesheet. Aside from categorization, 
selectors appear in the same order as
they do in index.html */


/* Css variables */

:root {
    --header-padding: 17px 14px;
    --button-padding: 6px 12px;
    --section-outer-padding: 60px 0px;
    --section-inner-padding: 25px 0px;
    --section-element-padding: 10px 0px; 
    --header-footer-container-width: 920px;
    --main-section-container-width: 760px;
    --main-height-line: 20px;
    --header-color: #B4D0E7;
    --button-color: #1B61FF;
    
}

/* Tag level selectors */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 100;
}

h1 {
    padding-top: 70px;
    padding-bottom: 45px;
    font-size: 60px;
}

h2 {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 30px;
}

h3 {
    padding: var(--section-element-padding);
    padding-top: 15px;
    font-size: 20px;
}

/* Utility classes, apply to many elements */

.flexbox {
    display: flex;
}

.wrapped {
    flex-wrap: wrap;
}

.centered {
    margin: auto;
}

.main-line-height {
    line-height: var(--main-height-line);
}

/* Element classes, specific to element types */

.nav-container {
    align-items: center;
}

.button {
    border-style: none;
    padding: var(--button-padding);
}

.button-blue {
    color: #FFFFFF;
    background-color: var(--button-color)
}

.header-footer-container {
    max-width: var(--header-footer-container-width);
}

.section-container {
    max-width: var(--main-section-container-width);
}

.checkbox-container {
    padding: var(--section-element-padding);
    padding-right: 30px;
}

.section1-card {
    width: 25%;
    border: 1px solid #CFCFD1;
    flex-grow: 1;
}

.card-header {
    border-bottom: 1px solid #CFCFD1;
    padding: var(--section-element-padding);
    text-align: center;
    
}

.card {
    padding: 0px 20px;
}

.card-hr {
    width: 30%;
    margin-top: 15px;
    border-top: 1px solid #CFCFD1;
}

.fa-check {
    color: var(--button-color)
}

/* Id's */

#logo {
    height: 20px;
}

#jumbo-img {
    height: 350px;
    margin-bottom: -50px;
}

/* Advanced selectors */

/* Header navbar */

header > nav {
    justify-content: space-between;
}

.nav-container > a, .nav-container > div {
    padding: var(--header-padding);
    text-decoration: none;
    color: #000000;
}

/* Nav done. Had my fair share of problems
crafting the button. Used container + padding
to contaier and "button" class */

/* Header Jumbo */

header > section {
    background-color: var(--header-color);
}

header > section p {
    padding-bottom: 10px;
}

header > section > div > div > div > div:nth-last-child(2), 
header > section .button-container {
    padding: var(--section-element-padding);
}

header > section > div > div > div {
    position: relative;
}

header i {
    font-size: 40px;
    position: absolute;
    bottom: 15px;
    left: 0;
}

/* Main */

main >section {
    padding: var(--section-outer-padding);
}

/* First section in main */

/* Next 4 selectors virtualize the 
checkbox mechanism */

.checkbox-container > div:first-child {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border: 1px solid #CFCFD1;
    border-radius: 50%;
}

.checkbox-container > div > div {
    width: 8px;
    height: 8px;
    margin: 3px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: none;
}

.checkbox-container > div:first-child:active {
    background-color: var(--button-color);
}

.checkbox-container > div:first-child:active > div {
    display: block;
}

/* Cards in first section */

main > section:first-child > 
.section-container:first-of-type > 
div:nth-child(2) {
    padding: var(--section-inner-padding);
    flex-basis: 0;
    gap: 40px;
}

.card > div, .card > h4 {
    padding: var(--section-element-padding);
}

.card > div:nth-child(3), .card > div:nth-child(6),
.card > .card-hr {
    margin-bottom: 15px;
}

.card .button {
    text-align: center;
}

.fa-user, .fa-folder, .fa-share-nodes, .fa-check {
    padding-right: 5px;
}


/* Horizontal part in first section */

.section1-card:last-child {
    width: 100%;
}

.section1-card:last-child .card {
    flex-basis: 0;
}

.section1-card:last-child .card 
> div:first-child {
    flex-grow: 3;
}

.section1-card:last-child .card 
> div:last-child {
    flex-grow: 1;
}

.section1-card:last-child p, 
.section1-card:last-child h3, 
.section1-card:last-child h4 {
    padding: var(--section-element-padding);
}




